.listItem {
    background-color: white;
    border: none;
    cursor: pointer;
    padding: 10px 5px;
    text-align: left;
    width: 100%;

    &:hover {
        background-color: #c4c2c2;
        color: rgb(43, 43, 43);
    }

    &:focus {
        background-color: #e4e4e4;
        outline: none;
    }
}
