/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw;

    h1,
    h2,
    h3,
    p {
        font-family: Roboto;
    }

    app-list {
        flex: 2;
        min-width: 15vw;
        overflow-y: scroll;
        -ms-overflow-style: none;

        @media screen and (min-width: 1200px) {
            flex: 1;
        }
    }

    app-list::-webkit-scrollbar {
        width: 0;
    }

    app-map {
        flex: 3;

        section {
            height: 100%;
        }
    }
}
